# Python compiled bytecode
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints and autosaves
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/

# IDE settings
.vscode/
.idea/

# OS hidden files
.DS_Store
Thumbs.db